gris_oscuro = #444
azul = #22bce0

body
	background #e8e8e8
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	color white
	padding 0.5em

	.logo
		border-right 1px solid azul
		width 60px

		img
			width 52px

nav
	background azul